%p#notice= notice

%p
  %b Student:
  = @student.student_id
%p
  %b Name:
  = @student.name
%p
  %b Email:
  = @student.email
%p
  %b Birthdate:
  = @student.birthdate.to_date
%p
  %b Sex:
  = @student.sex

= link_to 'Edit', edit_student_path(@student)
\|
= link_to 'Back', students_path

%h1 All Attempt 

%table
  %thead
    %tr
      %th Course id
      %th Name
      %th Year
      %th Semester
      %th Grade
      %th
      %th
      %th

  %tbody
    - Attempt.joins(:student).where(student_id: @student.student_id).each do |record|
      %tr
        %td= record.course_id
        %td= record.try(:course).try(:name)
        %td= record.year
        %td= record.semester
        %td= record.grade

