%p#notice= notice

%p
  %b Student:
  = @student.student_id
%p
  %b Name:
  = @student.name
%p
  %b Email:
  = @student.email
%p
  %b Birthdate:
  = @student.birthdate.to_date
%p
  %b Sex:
  = @student.sex
%p
  %b GPAX:
  = @student.gpax

= link_to 'Edit', edit_student_path(@student)
\|
= link_to 'Back', students_path
%h1 All Attempt 
=line_chart(@student.gpa, width: "800px", height: "350px", curve: false,
library: {scales: {yAxes: [{ticks: {stepSize: 1, suggestedMin: false}}]}})
- Attempt.where(student_id: @student.student_id).order(:year, :semester).group_by(&:year).each do |year, year_records|
  - year_records.group_by(&:semester).each do |semester, records|
    %h3 #{semester}/#{year}: 
    %h3
      GPA:
      = @gpa["#{semester}/#{year}"]
    %table
      %thead
        %tr
          %th Course id
          %th Course Name
          %th Grade
      %tbody
        - records.each do |record|
          %tr
            %td= link_to(" #{record.course_id}", course_path(record.course_id))
            %td= record.try(:course).try(:name)
            %td= record.grade
    %br
