= label :course, :id
= text_field :course, :course_id

= label :course, :name
= text_field :course, :name

= label :course, :credit
= select(:course, :credit, [1, 2, 3])

= label :course, :detail
= text_area :course, :detail