%h5
= link_to("Add new course", new_course_path)
= link_to("Attempt Courses", attempt_courses_path)
%h1 All Courses

%table#courses 
  %thead 
    %tr
      %th course id
      %th course name
      %th credit
  %tbody
    -@courses.each do |course|
      %tr
        %td= link_to(" #{course.course_id}", course_path(course))
        %td #{course.name}
        %td #{course.credit}