%h1 Detail about #{@course.name}

%h3 course id:
#{@course.course_id}
%h3 name:
#{@course.name}
%h3 credit:
#{@course.credit}
%h3 detail:
#{@course.detail}

%h5
= link_to("Edit info", edit_course_path(@course))
%h5
= link_to("Delete", course_path(@course), :method => :delete)
%h5
= link_to('Attempt', new_course_attempt_path(@course))
%h5
= link_to("Back to all courses", courses_path)
